<p style="color: green"><%= notice %></p>
<div class="container">
  <%= link_to "Edit this post", edit_post_path(@post) %> |
  <%= link_to "Back to posts", posts_path %>

  <%= button_to "Destroy this post", @post, method: :delete %>

	<h1><%= render @post %></h1>

	<h2>Daily forecast</h2>
	<ul>
		<% @post_daycasts.daycasts.each do |c| %>
			<li><h3><%= c.cast %></h3></li>
		<% end %>
	</ul>
</div>